<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/lib.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>

    <header>
        <div class="overlay"></div>
        <nav>
            <img src="/images/logo.jpg" class="brand" alt="">
            <div class="nav-ul">
                <ul class="flex-row">
                    <li><a href="/" class="nav-link active">Home</a></li>
                    <li class="about"> <a href="#" class="nav-link">About Us</a>
                        <ul class="dropdown">
                            <li><a href="/our-firm">Our Firm</a></li>
                            <li><a href="/our-firm">Our Experience</a></li>
                            <li><a href="/our-firm">Our Team</a></li>
                        </ul>
                    </li>

                    <li class="real-estate real"><a href="#" class="nav-link">Real Estate Sectors</a>
                        <ul class="dropdown">
                            <li><a href="/residential-single-family">Residential - Single Family</a></li>
                            <li><a href="/commercial-multifamily">Commercial - Multifamily</a></li>
                        </ul>
                    </li>
                    <li class="invest"> <a href="#" class="nav-link">Invest with Us </a>
                        <ul class="dropdown">
                            <li><a href="/overview">Overview</a></li>
                            <li><a href="/invest">Invest</a></li>
                            <li><a href="/investment-benefits">Investment Benefits</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="nav-link">News & Insights </a></li>
                    <li><a href="/contact-us" class="nav-link">Contact Us</a></li>
                </ul>
            </div>

        </nav>
        <div class="overlay-img">
            <div style="" class="d-flex flex-column align-items-center justify-content-center mx-auto">
                <div class="mx-auto-lib" style="margin-top: 80px;">
                    <img class="logoimg" src="/images/header-img.png" alt="">
                </div>

                <p class="white-text text-20 mt-20 text-bold">REAL ESTATE INVESTMENTS AND ASSET MANAGEMENT</p>
            </div>
        </div>
    </header>
    <main>
        <section class="first flex-row">

            <div class="card ">
                <div class="card-title">
                    <h1 class="text-center text-40 mb-20">Our Mission</h1>
                    <div class="line mx-auto-lib mb-20">
                        <!-- <hr> -->
                    </div>
                </div>

                <div class="card-body text-center text-16">
                    <p> 234 Estates seeks to build the bridge between African investors -both on the continent and the diaspora- and the western real estate market. We build independent, sustainable and scalable operating business strategies with a goal of
                        realizing medium & long term gains for our investors.</p>
                </div>
            </div>
            <div class="first d-none"></div>
        </section>

        <section class="second flex-row">
            <div class="card ">
                <div class="card-title">
                    <h1 class="text-center text-40 mb-20">Our Company</h1>
                    <div class="line mx-auto-lib mb-20">
                        <!-- <hr> -->
                    </div>
                </div>

                <div class="card-body text-center text-16">
                    <p> 234 Estates is a privately held real estate investment and asset management company headquartered in Charlotte, North Carolina.</p>

                    <button class="btn btn-black px-20 py-20 text-18 mt-20"> Our Firm</button>
                </div>
            </div>
            <div class="second d-none"></div>
        </section>
        <section class="third flex-row">
            <div class="card ">
                <div class="card-title">
                    <h1 class="text-center text-40 mb-20">Our Strategy</h1>
                    <div class="line mx-auto-lib mb-20">
                        <!-- <hr> -->
                    </div>
                </div>

                <div class="card-body text-center text-16">
                    <p> 234 Estates is currently focused on acquiring high-quality assets in key gateway cities in the US, on behalf of our investors.234 Estates seeks to build the bridge between African investors -both on the continent and the diaspora-
                        and the western real estate market. We build independent, sustainable and scalable operating business strategies with a goal of realizing medium & long term gains for our investors.</p>
                </div>
            </div>
            <div class="third d-none"></div>
        </section>

        <section class="fourth flex-row">

            <div class="card ">
                <div class="card-title">
                    <h1 class="text-center text-40 mb-20">Our Impact</h1>
                    <div class="line mx-auto-lib mb-20">
                        <!-- <hr> -->
                    </div>
                </div>

                <div class="card-body text-center text-16">
                    234 Estates primary impact is to provide a vehicle for long-term growth for African investors who are inclined to diversify their funds away from local investment strategies.
                </div>
            </div>
            <div class="fourth d-none"></div>
        </section>
    </main>
    <footer class="bg-black pb-20 mt-0 py-20">
        <div class="flex-row justify-content-around px-40 py-20">
            <div class="about w-50">
                <h1 class="text-20 mb-20">234 Estate</h1>
                <p>234 Estates is a privately held real estate investment and asset management company headquartered in Charlotte, North Carolina.</p>
            </div>
            <div class="contact w-50">
                <h1 class="text-20 mb-20 ml-20">Contact Us</h1>
                <ul style="width: 50%;">
                    <li class="mb-5"> <i class="fas fa-question mr-10"></i> FAQ</li>
                    <li class="mb-5"> <i class="fas fa-phone mr-10"></i> (144)9029392</li>
                    <li> <i class="far fa-envelope mr-10"></i> 234estate@domain.com</li>
                    <li class="flex-row mt-5 align-items-center justify-content-center"> <i class="fas fa-map-marker-alt mr-10 mt-5" style="word-wrap: break-word;"></i>
                        <p>3100 Starmount Park BLVD, Concord, North Carolina 28027</p>
                    </li>
                </ul>
            </div>

        </div>

        <p class="text-center">Copyright © 234 Estates LLC. All Rights Reserved.</p>
    </footer>

    <script>
        const d = document.createElement("div"),
            about = document.createElement("div"),
            real = document.createElement("div"),
            invest = document.createElement("div"),
            span = document.createElement("span");
        span.innerText = "< Back";
        span.className = "back text-25 mb-10";

        function tag(tag) {
            return document.querySelector(tag)
        }

        d.classList.add("wrapper");
        d.classList.add("mx-auto-lib");
        d.innerHTML = tag(".nav-ul").innerHTML;

        if (window.innerWidth < 1000) {
            document.body.appendChild(d);
            tag(".wrapper ul .about a").textContent = tag(".wrapper ul .about a").textContent + " >";
            tag(".wrapper ul .real a").textContent = tag(".wrapper ul .real a").textContent + " >";
            tag(".wrapper ul .invest a").textContent = tag(".wrapper ul .invest a").textContent + " >";

            about.innerHTML = tag(".wrapper ul .about").lastElementChild.innerHTML;
            real.innerHTML = tag(".wrapper ul .real").lastElementChild.innerHTML;
            invest.innerHTML = tag(".wrapper ul .invest").lastElementChild.innerHTML;
            console.log(tag(".wrapper ul .about").lastElementChild.className)
            about.className = "about-child";
            real.className = "real-child";
            invest.className = "invest-child";

            d.appendChild(about)
            d.appendChild(real)
            d.appendChild(invest)


            tag(".wrapper ul .about").addEventListener("click", e => {
                about.insertBefore(span, about.firstElementChild)
                d.firstElementChild.classList.add("hide-wrapper");
                about.classList.add("show-about-child");

                tag(".back").addEventListener("click", e => {
                    d.firstElementChild.classList.remove("hide-wrapper");
                    e.target.parentElement.classList.remove("show-about-child")
                })
            })
            tag(".wrapper ul .real").addEventListener("click", e => {
                real.insertBefore(span, real.firstElementChild)
                d.firstElementChild.classList.add("hide-wrapper");
                real.classList.add("show-about-child");

                tag(".back").addEventListener("click", e => {
                    d.firstElementChild.classList.remove("hide-wrapper");
                    e.target.parentElement.classList.remove("show-about-child")

                })
            })
            tag(".wrapper ul .invest").addEventListener("click", e => {
                invest.insertBefore(span, invest.firstElementChild)
                d.firstElementChild.classList.add("hide-wrapper");
                invest.classList.add("show-about-child");

                tag(".back").addEventListener("click", e => {
                    d.firstElementChild.classList.remove("hide-wrapper");
                    e.target.parentElement.classList.remove("show-about-child")
                    console.log(e.target.parentElement)
                })
            })

            setInterval(() => {

            }, 100)
        }

        if (window.innerWidth < 769) {
            tag("footer").firstElementChild.classList.replace("flex-row", "flex-column")
            tag("footer").firstElementChild.firstElementChild.classList.add("mx-auto-lib")
            tag("footer").firstElementChild.firstElementChild.classList.replace("w-50", "w-75");

            tag("footer").firstElementChild.lastElementChild.classList.add("mx-auto-lib")
            tag("footer").firstElementChild.lastElementChild.classList.add("mt-20")
            tag("footer").firstElementChild.lastElementChild.classList.replace("w-50", "w-75")
            document.querySelectorAll(".card").forEach(card => {
                card.style.margin = "0 auto ";
                card.style.padding = "20px 5px 25px 5px"
                card.style.border = "none";
                card.style.width = "80%"
                card.style.height = "100%"
                card.firstElementChild.lastElementChild.style.width = "70%"

            })
            document.querySelectorAll("section").forEach(sec => {
                // sec.classList.replace("flex-row", "flex-column")
                sec.classList = "flex-column";
                sec.lastElementChild.classList.replace("d-none", "d-block")
                    // if (sec.classList.contains("second")) {
                console.log(123)
                sec.classList.remove("second");
                sec.lastElementChild.style.width = "100%";
                sec.lastElementChild.style.height = "300px"
                console.log(sec.lastElementChild)
                    // }
            })

        }
    </script>
</body>

</html>